* {
    padding: 0;
    margin: 0;
}

.grad {
	width: 270px;
	height: 160px;
}

.lin{
    /*background-image: linear-gradient(126deg, #ff6d00 15%, #ffff00 45%, #ffff00 55%, #ff6e02 85%);
    */
    background-image: linear-gradient(126deg, #ff6d00, #ffff00, #ff6e02);
    
}

.rad{
    background-image: radial-gradient(circle closest-corner at center, #2d0c57, #ff7c00);
}

.change_size{
    background-color: brown;
    transition: transform 0.5s linear 0s;
}

.change_size:hover{
    transform: scale(2);
    transition: transform 0.5s linear 0s;
}

.card{
	transform-style: preserve-3d;
	transform: perspective(200px);
	transform-origin: 50% 50%;
	transition: 1s;
	width: 250px;
	height: 100px;
}

.card:hover{
	transform: rotateY(180deg);
}

.sizes{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font: 18px Arial;
	color: white;
}

.front{
	background-color: green;
}

.back{
	background-color: red;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}